$font: 'Source Sans Pro', sans-serif;

$color-font-primary: #3f3f3f;
$color-font-label: #49485e;
$color-font-input: #b4b4b4;
$app-bg-color: #faf9f7;
$component-bg-color: #fffefb;

$color-bg-btn-disabled: #eee;

$radius: 4px;
$min-width: 20.75rem;
